<div id="error-messages">
  <% flash.each do |message_type, message| %>
    <% if message.kind_of?(Array) %>
      <div class="alert alert-<%= message_type %>">
        <ul>
          <button type="button" class="close" data-dismiss="alert">×</button>
          <% message.each do |msg| %>
              <li>
                <%= msg %>
              </li>
          <% end %>
        </ul>
      </div>
    <% elsif message.kind_of?(String) %>
      <div class="alert alert-<%= message_type %>">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= message %>
      </div>
    <% end %>
  <% end %>
</div>
